body {
    text-align: center;
}

#conjugationGrid {
    display: grid;
    grid-template-columns: 0.33fr 0.33fr 0.33fr;
}

#conjugationGrid form label, input {
    display: inline-block;
}